CompileFlags:
  Add: [-Wall, -Wextra, -Wno-unused-parameter]

Diagnostics:
  ClangTidy:
    Add: [modernize-*]
    Remove: [clang-analyzer-alpha*]

Index:
  Background: Build
  StandardLibrary: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
